body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    color: white;
}

h2 {
    padding: 5px;
}

h3 {
    color: black;
}

.header {
    width: 100%;
}

.menubar {
    width: 80%;
    overflow: auto;
    margin: auto;
}

.part-1 {
    float: left;
}

.part-2 {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
}

.menu-link {
    color: white;
    padding: 8px;
    display: inline-block;
}

.background {
    width: 100%;
    overflow: auto;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/1533720/pexels-photo-1533720.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500;);
    background-position: center bottom;
}

.main-box {
    width: 60%;
    padding: 180px 0px;
    margin: auto;
}

.title {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.description {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    font-size: 20px;
}

.buttons {
    width: 60%;
    overflow: auto;
    margin: 40px auto;
}

.submit {
    width: 50%;
    background-color: #745cf9;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.read-more {
    width: 50%;
    background-color: #745cf9;
    padding: 10px;
    float: left;
    margin: 20px auto;
    text-align: center;
}

.read-more2 {
    width: 40%;
    background-color: #745cf9;
    padding: 10px;
    float: right;
    margin: 20px auto;
    text-align: center;
}

.submit a {
    text-decoration: none;
    margin: auto;
}

.div {
    color: white;
    text-decoration: none;
}

p {
    color: white;
}

.container {
    width: 80%;
    padding: 10px 0px;
    margin: 50px auto;
    overflow: auto;
}

.image {
    width: 50%;
    float: left;
    text-align: center;
}

.paragraph {
    width: 50%;
    padding: 30px;
    float: left;
    margin: 50px 0px;
    font-size: 18px;
}

.color {
    color: black;
}

.button {
    width: 25%;
    margin: 20px auto;
}

.lo-image-container {
    width: 80%;
    margin: 50px auto 0px auto;
}

.dl-image {
    width: 100%;
}
.small-box{
    padding: 80px 0px;
}
.project-box {
    width: 100%;
    padding: 100px 0px 0px 0px;
    background-color: #0e1015;
}

.project-title {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: white;
}

.project-description {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    font-size: 20px;
    color: white;
}

.images {
    width: 100%;
    overflow: auto;
}

.img1 {
    width: 25%;
    float: left;
}

.blog {
    width: 100%;
    background-image: url(https://i.ytimg.com/vi/YgmIibSnZs0/maxresdefault.jpg);
    background-size: cover;
    color: white;
    overflow: auto;
}

.blog-container {
    width: 80%;
    margin: auto;
}

.blog-title {
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

.blog-para {
    width: 100%;
    margin: auto;
    text-align: center;
}

.john-image {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.john-name {
    width: 100%;
    text-align: center;
    margin: 0px auto 80px;
}

.clients-box {
    width: 100%;
    margin: 30px 0px;
}

.clients-container {
    width: 50%;
    margin: auto;
}

.client {
    width: 15%;
    margin: auto;
}

.logo-container {
    width: 80%;
    margin: 50px auto;
    overflow: auto;
}

.icon {
    width: 25%;
    margin: auto;
    float: left;
}

.sass {
    width: 25%;
    margin: auto;
}

.wordpress-theme {
    width: 100%;
    background-color: #f5f5f5;
    padding: 15px 0px;
}

.theme-container {
    width: 80%;
    margin: 45px auto;
    overflow: auto;
}

.theme-content {
    width: 80%;
    margin: auto;
    float: left;
}

.button2 {
    width: 20%;
    overflow: auto;
    padding: 0px 15px;
    margin: 25px auto;
}

.download {
    background-color: #745cf9;
    padding: 10px;
    float: left;
    margin: auto;
}

.powered-by {
    width: 100%;
    background-color: #0e1015;
}

.last-block-container {
    width: 80%;
    padding: 50px 0px;
    margin: auto;
    overflow: auto;
}

.wordpress-content {
    width: 70%;
    margin: auto;
    float: left;
}

.font-color {
    color: white;
}

.social-media {
    width: 20%;
    float: right;
    padding: 10px;
    overflow: auto;
}

.fb-icon {
    width: 20%;
    float: left;
}
